    <nav class="bg-white shadow-lg">
      <div class="px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <div>

              <!-- Website Logo -->
              <a href="https://www.momslearntocode.com/" class="flex items-center py-4 px-2">
                <%= image_tag 'MLTC_logo_square_compressed.png', alt: 'Moms Learn to Code logo', class:"h-20 w-20 mr-2" %>
              </a>
            </div>

            <!-- Primary Navbar items -->
            <div class="hidden md:flex items-center space-x-1">
              <%= link_to 'All Courses', courses_path, class: "link-nav" %>
              <%= link_to 'My Courses', user_root_path, class: "link-nav" %>
              <%= link_to 'Contact us', 'https://www.momslearntocode.com/#footer', class: "link-nav" %>
            </div>
          </div>

          <!-- Secondary Navbar items -->
          <div class="hidden md:flex items-center space-x-3 ">
            <% if user_signed_in? %>
              <%= link_to 'My account', edit_user_path(current_user), class: "link-nav" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link-nav rounded hover:bg-red-500 hover:text-white" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "link-nav rounded hover:bg-red-500 hover:text-white" %>
            <% end %>
          </div>

          <!-- Mobile menu button -->
          <div class="md:hidden flex items-center">
            <button class="outline-none mobile-menu-button">
            <svg class=" w-6 h-6 hover:text-red-500 "
              x-show="!showMenu"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
          </div>
        </div>
      </div>

      <!-- mobile menu -->
      <div class="hidden mobile-menu">
        <ul class="">
          <li><%= link_to 'MLTC homepage', 'https://www.momslearntocode.com/' %></li>
          <li><%= link_to 'All Courses', courses_path %></li>
          <li><%= link_to 'My Courses', user_root_path %></li>
          <li><%= link_to 'Contact us', 'https://www.momslearntocode.com/#footer' %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'My account', edit_user_path(current_user) %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
          menu.classList.toggle("hidden");
        });
      </script>
    </nav>
